* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}
.container {
  width: 100%;
  padding: 30px;
}
body {
  transition: 0.9s ease-out;
  header {
    transition: 0.9s ease-out;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
  background-color: white;
  nav {
    display: flex;
    justify-content: space-between;
    h1 {
      font-family: sans-serif;
      margin-left: 15px;
    }
    .darkk {
      background: transparent;
      border: none;
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      margin-right: 20px;
      .dark-p {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }
}

.dark {
  background-color: #202c36 !important;
  color: #fff;
  transition: 0.9s ease-out;
  .dark-p {
    color: white;
    transition: 0.9s ease-out;
  }
  svg path {
    fill: #fff;
    transition: 0.9s ease-out;
  }
  header {
    background-color: #202c36;
    transition: 0.9s ease-out;
  }
  .miniDrop {
    background-color: white;
    transition: 0.9s ease-out;
    p {
      color: black;
      transition: 0.9s ease-out;
    }
    svg path {
      fill: black;
      transition: 0.9s ease-out;
    }
  }
  .drop-p {
    p {
      color: black;
      transition: 0.9s ease-out;
    }
  }
  .search {
    svg path {
      fill: black;
      transition: 0.9s ease-out;
    }
  }
  .modalCountry {
    color: white !important;
    background-color: #202c36;
    transition: 0.9s ease-out;
    .back {
      svg path {
        fill: rgb(0, 0, 0);
        transition: 0.9s ease-out;
      }
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      transition: 0.9s ease-out;
    }
    p {
      color: #fff !important;
      transition: 0.9s ease-out;
    }
  }
  p {
    color: white;
    transition: 0.9s ease-out;
  }
  b {
    color: white;
    transition: 0.9s ease-out;
  }
  .minidrop {
    background-color: white;
    transition: 0.9s ease-out;
    p {
      color: black;
      transition: 0.9s ease-out;
    }
    svg path {
      fill: black;
      transition: 0.9s ease-out;
    }
  }
  .dropP {
    p {
      color: black;
      transition: 0.9s ease-out;
    }
  }
}

.first-big {
  margin: 15px;
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .search {
    width: 480px;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 22px;
    input {
      width: 100%;
      padding: 15px;
      outline: none;
      border: none;
      font-size: 22px;
    }
    svg {
      position: absolute;
      top: 14px;
      right: 14px;
    }
  }
  .second-big {
    display: flex;
    gap: 20px;
  }
}

.countries {
  justify-content: space-evenly;
  padding: 0px 30px;
  display: flex;
  gap: 20px;
  // justify-content: space-between;
  flex-wrap: wrap;
  .country {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    .country-in {
      font-family: sans-serif;
      gap: 10px;
      padding: 12px;
      p {
        padding: 5px 0;
        font-size: 16px;
      }
      .country-name {
        font-size: 16px;
        padding: 4px 0px 12px 0px;
      }
    }
    .country-img {
      img {
        min-width: 350px;
        max-height: 180px;
        cursor: pointer;
      }
    }
  }
}
/////// SORT /////////
.bigDrop {
  margin-left: 20px;
  width: 200px;
  position: relative;
  .minidrop {
    width: 200px;
    padding: 17px 14px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    margin-left: -22px;
    p {
      font-family: sans-serif;
      margin-top: 3px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
    }
    i {
      cursor: pointer;
    }
  }

  .dropP {
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 70px;
    padding: 20px 14px;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    margin-left: -22px;
  }
  .reg:hover {
    // background-color: #202c36;
    color: #4f5960;
    font-size: 17px;
    transition: 0.4s;
  }
}
.minidrop:hover {
  background-color: rgb(226, 225, 225);
  transition: 0.5s;
}
.dropPed {
  display: none;
}
///

//////// FILTER .////////////
.BigDrop {
  width: 200px;
  position: relative;
  .miniDrop {
    width: 200px;
    padding: 17px 14px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    margin-left: -22px;
    p {
      font-family: sans-serif;
      margin-top: 3px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
    }
    i {
      cursor: pointer;
    }
  }

  .drop-p {
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 70px;
    padding: 20px 14px;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    margin-left: -22px;
    padding-left: 20px;
  }
  .region:hover {
    // background-color: #202c36;
    color: #4f5960;
    font-size: 17px;
    transition: 0.4s;
  }
}
.miniDrop:hover {
  background-color: rgb(226, 225, 225);
  transition: 0.5s;
}
.dropped {
  display: none;
}
/////
/////// MODAL ////////
.modalCountry {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;
  padding: 30px;
  padding-top: 250px;
  .back {
    position: absolute;
    top: 130px;
    left: 60px;
    background-color: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
  }
  .back:hover {
    background-color: #c7c5c5;
    transition: 0.4s;
  }
  .modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    .modal::-webkit-scrollbar {
      width: 0;
    }
    .firstM {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
      }
    }
    .firstM {
      width: 50%;
      margin-left: 32px;
      border-radius: 8px;
      h1 {
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 40px;
        margin-left: 120px;
      }
      .inModal {
        display: flex;
        justify-content: space-between;
        margin-left: 120px;
        align-items: center;
        flex-wrap: wrap;
        .inner p {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          // line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
          letter-spacing: 0.3px;
          margin-top: 10px;
          color: black;
          b {
            font-weight: 800;
          }
        }
      }
    }

    .borderCountries {
      align-items: center;
      button {
        background-color: #ddd;
        padding: 8px;
      }
    }
  }
}

.show {
  display: none;
}

.dark {
  body {
    background-color: rgb(42, 41, 41) !important;
    transition: 0.9s ease-out;
  }
}

@media only screen and (max-width: 957px) {
  // .BigDrop {
  //   margin-top: 30px;
  //   margin-left: 50px;
  //   // position: relative;
  //   // left: 280px;
  // }
  // .search {
  //   margin-left: 100px;
  // }
  .first-big {
    display: flex;
    justify-content: center;
    row-gap: 20px;
  }
}

// @media only screen and (max-width: 590px) {
//   .firstM {
//     position: relative;
//     left: 140px;
//     bottom: 100px;
//   }
//   .inModal {
//     position: relative;
//     left: -340px;
//     top: 350px;
//   }
// }
// @media only screen and (max-width: 480px) {
//   .BigDrop {
//     margin-left: 50px;
//   }
// }
// @media only screen and (max-width: 450px) {
//   .firstM {
//     position: relative;
//     left: 70px;
//   }
//   .inModal {
//     position: relative;
//     left: -290px;
//     b {
//       font-size: 14px;
//     }
//   }
// }
// @media only screen and (max-width: 350px) {
//   .firstM {
//     position: relative;
//     left: 80px;
//   }
//   .inModal {
//     position: relative;
//     left: -250px;
//     b {
//       font-size: 14px;
//     }
//   }
// }
